*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.header h1{
    color: rgb(59, 60, 77);
    opacity: 75%;
   margin-left: 20px;
   
    
}
.middle h1{
    text-align: center;
    color: rgb(45, 65, 95);
    opacity: 90%;
    margin-top: 80px;
}
.list ul{
    display: flex;
}

.list ul li {
    list-style: none;
}
.list ul  a{
    color: black;
    text-decoration: none;
    margin-left: 130px;
    margin-right: -35px;
    padding: -50px;
    background-color: rgb(255, 255, 255);
    
}
.middle p{
    text-align: center;
}
.middle button{
    margin-left: 17cm;
    background-color: rgb(46, 94, 170);
    border: 0px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 45px;
}
.container {
    display: flex;
}
.container div{
    padding: 30px;
    width: 140px;
    margin-left: 115px;
    

}
.container .one{
    box-shadow: 5px 5px 20px black;
}
.container .two{
    box-shadow: 5px 5px 20px black;
}

.container .three{
    box-shadow: 5px 5px 20px black;
}
.container .four{
    box-shadow: 5px 5px 20px black;
   
}
.container h3{
    margin: 10px;
    margin-bottom: 28px;
}
